div{
    width: 100%;
    max-width: 200px;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    border : 1px solid black;
    border-width: 2px;
    border-style: dotted;
    border-color: red;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}